body > header {
    background-color: var(--color-background);
    color: var(--color-on-surface);
    height: 4.5rem;
    box-shadow: 0 0 0.5rem 0.05rem var(--color-shadow);
}

/* Center Content */
body > header, .header__container {
    display: grid;
    place-items: center;
}

.header__container {
    position: relative;
}

.header__settings {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}

.header__btn {
    border: 0.125rem solid var(--color-primary);
    transition: background-color var(--transition);
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
}

.header__settings button:hover {
    background-color: var(--color-inverse-surface2);
}

.header__burger-menu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.5px;
    align-items: center;
}

.header__burger-bar{
    width: 65%;
    height: 3.5px;
    background-color: var(--color-secondary);
}


