body > header {
    background-color: var(--color-surface-variant);
    color: var(--color-on-surface-variant);
    height: 5.5rem;
    box-shadow: 0 0 0.5rem 0.2rem var(--color-shadow);
}

/* Center Content */
body > header, .header__container {
    display: grid;
    place-items: center;
}

.header__container {
    padding: 1rem 0;
    position: relative;
}

.header__settings {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}

.header__btn {
    background-color: var(--color-surface);
    border: 0.125rem solid var(--color-outline-variant);
    box-shadow: 0 0 0.1rem 0.05rem var(--color-shadow);
    transition: background-color var(--transition);
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
}

.header__settings button:hover {
    background-color: var(--color-inverse-primary);
}

.header__burger-menu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.header__burger-bar{
    width: 65%;
    height: 3px;
    background-color: var(--color-on-surface-variant);
}

.header__burger-menu:hover .header__burger-bar{
    background-color: white;
}


