:root {
    --color-background: #FEFDEE;
    --color-background-transparent-50: rgba(254, 253, 236, 0.50);
    --color-background-transparent-75:  rgba(254, 253, 236, 0.75);
    
    --color-surface1: #FFFFE3;
    --color-surface2: #fee9be;
    --color-inverse-surface2: hsl(40, 97%, 47%);
    --color-surface3: hsl(24, 94%, 74%);
    --color-on-surface: rgb(0, 0, 0);
    --color-on-surface-secondary: rgb(30, 30, 30);

    --color-primary: hsl(26, 100%, 76%);
    --color-secondary: hsl(15, 89%, 43%);

    --color-outline: #8c9199;
    --color-outline-variant: #42474e;
    --color-shadow: #000000;

    --color-code-keyword: hsl(239, 100%, 25%);
    --color-code-comment: hsl(140, 100%, 25%);
    --color-code-value: hsl(308, 100%, 25%);
    --color-code-function: hsl(22, 100%, 25%);
}

:root.dark-theme {
    
    --color-background: #04040b;

    --color-background-transparent-50: #04040b80;
    --color-background-transparent-75:  #04040bbf;
    
    --color-surface1: hsl(223, 100%, 7%);
    --color-surface2: hsl(227, 97%, 12%);
    --color-inverse-surface2: hsl(227, 97%, 35%);
    --color-surface3: #012680;
    --color-on-surface: rgba(255, 255, 255, 0.85);
    --color-on-surface-secondary: rgba(255, 255, 255, 0.57);

    --color-primary: #4f7cac;
    --color-secondary: #a3d7fc;

    --color-outline: #8c9199;
    --color-outline-variant: #42474e;
    --color-shadow: #000000;

    --color-code-keyword: hsl(239, 50%, 50%);
    --color-code-comment: hsl(140, 50%, 50%);
    --color-code-value: hsl(308, 50%, 50%);
    --color-code-function: hsl(22, 50%, 50%);

}

:root.dark-theme .icon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* Transition Effects For Switching Between Themes */

.icon {
    -webkit-filter: contrast(1);
    filter: contrast(1);
    transition: filter var(--transition);
}