@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* STYLE RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

/* VARIABLES */

:root {
    --container-width: 80%;
    --transition: 500ms ease;
}

@media screen and (max-width: 1024px) {
    :root {
        --container-width: 90%;
    }
}

/* GENERAL STYLE */

body {
    background-color: var(--color-background);
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)),
    url(../images/background.jpg) no-repeat center/ cover fixed;
    color: var(--color-on-background);
    
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    line-height: 1.7;
    
    position: relative;
}

:root.dark-theme body{
    background: linear-gradient(rgb(0, 0, 0, 0.35), rgb(0, 0, 0, 0.35))
    ,url(../images/background-dark.jpg) no-repeat center/ cover fixed;
}

.container {
    width: var(--container-width);
    max-width: 1920px;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

button {
    background-color: transparent;
}

.page {
    min-height: calc(100vh - 4.5rem);
    width: 100%;
    display: grid;
    place-items: center;
}

