body > footer {
    background-color: var(--color-main);
    color: var(--color-on-main);
    height: fit-content;
    box-shadow: 0 0 0.125rem 0.025rem var(--color-shadow);
}

/* Center Content */
body > footer, body > footer small {
    display: grid;
    place-items: center;
}


body > footer small {
    font-size: 0.9rem;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

body > footer small img {
    display: inline-block;
    width: calc(1.5 * 0.9rem);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}